.tg-map {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .map-container {
    position: absolute;
    width: 500px;
    height: 750px;
    animation: shaking 30s ease infinite;

    &.paused {
        animation-play-state: paused;
    }

    @keyframes shaking {
      0% {
        transform: translateY(0px);
      }
      17% {
        transform: translateY(15px);
      }
      35% {
        transform: translateY(-10px);
      }
      52% {
        transform: translateY(20px);
      }
      68% {
        transform: translateY(-5px);
      }
      84% {
        transform: translateY(25px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    canvas {
      transform: rotateY(20deg) rotateX(-20deg);
    }
  }
}

.tg-map-tooltip {
  background: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  backdrop-filter: blur(4px);

  .tooltip-container {
    position: relative;

    border-width: 20px 20px 20px 20px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url(./images/tooltip-bg.png);
    border-image-slice: 20;
    border-image-repeat: round;
    // 解决 提示框层级位于弹窗下、文字超出换行展示 的问题
    z-index: 99;
    max-width: 500px;
    white-space: pre-wrap;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-image: url(./images/tooltip-bg.png);
      background-position: 40px 40px;
      background-size: 1px 1px;
      background-repeat: repeat;
      z-index: -1;
    }
  }

  .name {
    font-size: 20px;
    font-family: 'BigRuixian-ThinGBV1 .0 Regular', serif;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #25beff;
    padding-bottom: 13px;
    font-weight: bolder;
  }

  .value {
    display: flex;
    margin-top: 8px;

    span:first-child {
      font-size: 16px;
      font-family: Source Han Sans CN;
      color: #ffffff;
      min-width: 120px;
    }

    span:last-child {
      margin-left: auto;
      font-family: DINPro-Bold;
      font-size: 22px;
      color: #ffcd3e;
    }

    p {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}
