@import '@/assets/styles/theme.scss';

.tg-inquiry.fe-console-inquiry {
  flex: none;
  height: 64px;
  padding: 0;
  justify-content: center;

  .ant-form-item {
    margin-bottom: 0;

    .ant-select-selection {
      background: none;
    }
  }
}
