@import '~@/assets/styles/themeFromLess.scss';

.tg-container-with-sider {
  display: flex;
  gap: 10px;
  height: 100%;
  overflow: hidden;

  &.tree-collapsed {
    gap: 0;
  }

  & > .tg-container-with-sider--main {
    flex: auto;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }

  & > .tg-container-with-sider--sider {
    position: relative;
    width: 320px;
    height: 100%;
    flex: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: width .2s ease-in-out;

    & > .tg-container-trigger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -1px;
      top: calc(50% - 24px);
      width: 16px;
      height: 48px;
      border-radius: 6px 0 0 6px;
      border: 1px solid #d9d9d9;
      cursor: pointer;
      color: #bfbfbf;

      &:hover {
        color: $primary-color;
      }
    }

    &.hide {
      width: 0 !important;
      overflow: unset;
      background: none;

      & > .tg-container-trigger {
        border-radius: 0 6px 6px 0;
        right: -16px;
        background: var(--white);
      }

      & > *:not(.tg-container-trigger) {
        opacity: 0;
      }
    }
  }
}
