.test-link {
  color: blue;
}

.test-btn {
  height: 30px;
  outline: none;
  cursor: pointer;
  transition: all 400ms;
  width: 100px;
  font-size: 18px;
  background: linear-gradient(to top right, #3ad3ff, #1693ff, #3ad3ff);
  color: #ffffff;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.demo5-link {
  color: #ffffff;
}

.demo5-btn {
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 400ms;
  width: 150px;
  font-size: 18px;
  color: #ffffff;
  background: url(./images/btn-normal.png) no-repeat center / 100% 100%;

  &:hover {
    background: url(./images/btn-hover.png) no-repeat center / 100% 100%;
  }
}
