#tg-layout-responsive {
  overflow: hidden;
  height: 100%;

  .tg-sider {
    //background: #ffffff;
  }

  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .tg-content {
    margin: 24px 16px 0;
    padding: 24px;
    background: #ffffff;
  }

  .ant-layout {
    overflow: hidden;
  }
}
