.tg-household-label {
  height: 100%;
  padding: 10px;

  .item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    height: 50px;

    .name {
      flex: none;
      background: linear-gradient(to right, #7825ff, #297ffa);
      height: 28px;
      border: 1px solid #88cbff;
      border-radius: 88px;
      max-width: 52%;
      font-size: 14px;
      font-family: Source Han Sans CN;
      white-space: nowrap;
      line-height: 28px;
      padding: 0 10px;
    }

    .connecting-line {
      display: flex;
      align-items: center;
      flex: auto;
      margin: 0 10px;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left: 5px solid #ffffff;
        opacity: 0.6;
      }

      &:after {
        content: '';
        margin-left: auto;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-right: 5px solid #ffffff;
        opacity: 0.6;
      }

      div {
        width: 100%;
        border: 1px dashed #ffffff;
        opacity: 0.6;
      }
    }

    .value {
      flex: none;
      margin-left: auto;
      color: #45d2ff;
      font-family: DINPro-Bold;
      font-size: 22px;
    }
  }
}
