@import '@/assets/styles/theme.scss';

.tg-edph-home {
  flex: 1;
  padding: 0 24px 24px 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  //grid-template: 222px 116px 1fr / ;

  .tg-edph-home-concern {
    min-width: 690px;
    background: red;
    flex: 1;
    height: 222px
  }

  .tg-edph-home-userinfo {
    min-width: 490px;
    background: red;
    flex: 0;
    height: 222px;
  }

  .tg-edph-home-frequently-used-functions {
    background: red;
    height: 116px;
  }

  .tg-edph-home-to-do {
    height: 276px;
  }
}
