{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "ie >= 10",
            "Chrome >= 40"
          ]
        }
      }
    ],
    [
      "stage-0"
    ],
    [
      "react"
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime"
  ]
}
