{
  "presets": [
    [
      "env",
      {
        "targets": "> 0.25%, not dead"
      }
    ],
    [
      "stage-0"
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "babel-plugin-transform-runtime"
  ]
}
