.tg-medical {
  display: grid;
  grid-template: 30px 1fr / 1fr;
  height: 100%;

  .total {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    font-size: 14px;
    font-family: Source Han Sans CN;
    color: #ffcd3e;
  }
}
