@font-face {
  font-family: 'LCD2-Ultra';
  src: url('../fonts/LCD2U___.TTF');
  src: url('../fonts/LCD2U___.TTF') format('woff'),
  url('../fonts/LCD2U___.TTF') format('truetype'),
  url('../fonts/LCD2U___.TTF') format('svg');
}

@font-face {
  font-family: 'Source Han Sans CN-Bold';
  src: url('../fonts/SourceHanSansCN-Bold.otf');
  src: url('../fonts/SourceHanSansCN-Bold.otf') format('woff'),
  url('../fonts/SourceHanSansCN-Bold.otf') format('truetype'),
  url('../fonts/SourceHanSansCN-Bold.otf') format('svg');
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('../fonts/SourceHanSansCN-Normal.otf');
  src: url('../fonts/SourceHanSansCN-Normal.otf') format('woff'),
  url('../fonts/SourceHanSansCN-Normal.otf') format('truetype'),
  url('../fonts/SourceHanSansCN-Normal.otf') format('svg');
}

@font-face {
  font-family: 'Source Han Sans CN-Light';
  src: url('../fonts/SourceHanSansCN-Light.otf');
  src: url('../fonts/SourceHanSansCN-Light.otf') format('woff'),
  url('../fonts/SourceHanSansCN-Light.otf') format('truetype'),
  url('../fonts/SourceHanSansCN-Light.otf') format('svg');
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.otf');
  src: url('../fonts/DINPro-Bold.otf') format('woff'),
  url('../fonts/DINPro-Bold.otf') format('truetype'),
  url('../fonts/DINPro-Bold.otf') format('svg');
}

@font-face {
  font-family: 'BigRuixian-ThinGBV1.0 Regular';
  src: url('../fonts/BigRuixian-ThinGBV1.0 Regular.ttf');
  src: url('../fonts/BigRuixian-ThinGBV1.0 Regular.ttf') format('woff'),
  url('../fonts/BigRuixian-ThinGBV1.0 Regular.ttf') format('truetype'),
  url('../fonts/BigRuixian-ThinGBV1.0 Regular.ttf') format('svg');
}

.tg-comp {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  background: #061025;
  color: #ffffff;
  font-size: 20px;
  font-family: DINPro, DINPro-Medium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.tg-empty {
  height: 100%;
  display: flex;
  flex: auto;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.ant-spin-nested-loading,
.ant-spin-container {
  width: 100%;
  height: 100%;
}

.ant-spin-blur:after {
  opacity: 0 !important;
}
