@import '@/assets/styles/theme/themeFromLess.scss';

.import-box {
  .import-btn-box {
    background-color: rgba($color: $primary-color, $alpha: 0.03);
    padding: 35px;
    font-size: 14px;
    border-radius: 3px;
    color: $primary-color;
    width: 100%;
    box-sizing: border-box;
    height: auto;

    .icon {
      font-size: 36px;
      margin-bottom: 6px;
    }
  }

  .progress-box {
    display: flex;
    padding: 15px 0;

    .link {
      flex-shrink: 0;
      font-size: 16px;
      margin: 3px;
      padding-right: 10px;
    }

    > div {
      flex: 1;

      .progress {
        display: flex;
        justify-content: space-between;

        .icon {
          color: $error-color;
          margin-right: 0 !important;
          cursor: pointer;
        }
      }
    }
  }

  .point-out {
    display: flex;

    p {
      color: $text-color;
    }
  }
}

.upload-file {
  min-height: 300px;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #454545;
    font-size: 18px;
    margin-bottom: 20px;

    .success {
      color: $primary-color;
    }

    .fail {
      color: $error-color;
    }
  }

  .import-succeeded {
    text-align: center;
    padding: 70px 20px 40px 20px;
  }

  .well {
    background-color: #f3f7f6;
    border-color: #dbe3ec;
    border-radius: 0;
    box-shadow: none;
    padding: 15px;

    p {
      margin: 5px 0;
    }
  }
}
