@import '~@/assets/styles/themeFromLess.scss';

.ant-breadcrumb {
  font-size: 12px;
}

.tg-breadcrumb {
  display: flex;
  align-items: center;
  height: 35px;
  flex: none;
  padding: 15px 15px 0 15px;
  line-height: 24px;

  .tg-breadcrumb-btn-home {
    color: $text-color-secondary;
    font-size: 1.2em;
    margin-right: 4px;
    margin-top: -0.1em;
  }

  .ant-breadcrumb-link a {
    font-weight: 400;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }

  .tg-breadcrumb-last-title {
    color: $text-color-secondary;
  }

  .tg-breadcrumb-guide {
    margin-left: auto;
    display: flex;
    align-items: center;

    .tg-breadcrumb-btn-question {
      color: $text-color;
      font-size: 1.3em;
    }

    .tg-breadcrumb-btn {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    .tg-breadcrumb-btn-right {
      margin-top: 0.125em;
      margin-left: 2px;
      color: $text-color;
    }
  }
}
