@import '@/assets/styles/theme.scss';
.ant-breadcrumb{
  font-size: 12px;
}

.tg-breadcrumb {
  display: flex;
  align-items: center;
  height: 50px;
  flex: none;
  padding: 16px 24px;
  line-height: 24px;

  .tg-breadcrumb-btn-home {
    color: $text-or-icon-sub-color;
    font-size: 1.2em;
    margin-right: 4px;
  }

  .ant-breadcrumb-link a {
    font-weight: 400;
    color: $text-or-icon-light-color;

    &:hover {
      color: $primary-color;
    }
  }

  .tg-breadcrumb-last-title {
    color: $text-or-icon-color;
  }

  .tg-breadcrumb-guide {
    margin-left: auto;
    display: flex;
    align-items: center;

    .tg-breadcrumb-btn-question {
      color: $text-or-icon-color;
      font-size: 1.3em;
    }

    .tg-breadcrumb-btn {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    .tg-breadcrumb-btn-right {
      margin-top: 0.125em;
      margin-left: 2px;
      color: $text-or-icon-color;
    }
  }
}
