#tg-profile-layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #f2f7fc;
  z-index: 2;

  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .tg-content {
    width: 1200px;
    margin: 24px auto;
    display: flex;
    gap: 10px;
    background: #f2f7fc;
  }

  .ant-layout {
    overflow: hidden;
  }

  .tg-menu {
    width: 210px;
    flex: none;
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    color: #262626;
    padding: 8px;
    box-sizing: border-box;
  }

  .tg-main {
    width: 980px;
  }
}
