.tg-logo {
  width: 100%;
  height: 64px;
  line-height: 64px;
  background: url(../images/logo.png) no-repeat left 20px center / 40px auto;
  cursor: pointer;
  transition: all 0.3s;
  padding-left: 70px;
  font-size: 18px;
  font-family: Source Han Sans SC, Source Han Sans SC-Medium, Microsoft YaHei UI, serif;
  font-weight: bolder;
  color: #344054;
  overflow: hidden;

  &:hover {
    transform: rotate3d(-4, 5, -1, -10deg) scale(1.04);
  }
}
