.tg-logo {
  display: flex;
  align-items: center;
  width: 240px;
  height: 100%;
  background: url(~@/assets/images/logo.png) no-repeat left 20px center / 22px  24px;
  cursor: pointer;
  transition: all 0.3s;
  padding-left: 52px;
  font-size: 16px;
  font-family: Source Han Sans SC, Source Han Sans SC-Medium, Microsoft YaHei UI, serif;
  font-weight: bolder;
  color: #ffffff;
  overflow: hidden;

  &:hover {
    transform: rotate3d(-4, 5, -1, -10deg) scale(1.04);
  }
}
