@import '~@/assets/styles/themeFromLess.scss';

.tg-logo {
  display: flex;
  line-height: 1;
  align-items: center;
  min-width: 200px;
  height: 100%;
  cursor: pointer;
  transition: all .2s;
  font-size: $font-size-lg; // 全局默认字号+2px
  font-family: Source Han Sans SC, Source Han Sans SC-Medium, Microsoft YaHei UI, serif;
  font-weight: bolder;
  color: $white;
  overflow: hidden;

  .anticon {
    font-size: 1.8em;
    padding: 0 0.4ic;
  }

  &:hover {
    transform: rotate3d(-4, 5, -1, -10deg) scale(1.04);
  }
}
