.tg-container {
  display: flex;
  flex-direction: column;
  height: 270px;
  background: rgba(0, 90, 184, 0.02);
  backdrop-filter: blur(14px);
  margin-bottom: 20px;

  .icon-container {
    flex: none;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    font-family: Source Han Sans CN-Light;
    background: no-repeat left center / auto 100%;

    .name-container {
      position: relative;
      margin-left: 30px;
      display: inline-flex;
      height: 100%;
      align-items: center;
      white-space: nowrap;
      border-width: 0 84px 0 20px;
      border-style: solid;
      border-color: transparent;
      border-image-source: url(./images/container-bg.png);
      border-image-slice: 0 84 0 20;
      border-image-repeat: round;
      max-width: calc(100% - 30px);

      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: 100%;
        margin-left: -1px;
        background: #25a0ff;
        border-top: 1px solid #095086;
        border-bottom: 1px solid #095086;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .name {
        display: inline-block;
        overflow: hidden;
      }
    }

    &.gender {
      background-image: url(./images/gender.png)
    }

    &.household-label {
      background-image: url(./images/household-label.png)
    }

    &.medical {
      background-image: url(./images/medical.png)
    }

    &.age-distribution {
      background-image: url(./images/age-distribution.png)
    }

    &.housing-type {
      background-image: url(./images/housing-type.png)
    }

    &.education {
      background-image: url(./images/education.png)
    }

    &.household-visit {
      background-image: url(./images/household-visit.png)
    }

    &.visiting-situation {
      background-image: url(./images/visiting-situation.png)
    }

    &.visit-ranking {
      background-image: url(./images/visit-ranking.png)
    }
  }

  .content {
    flex: auto;

    &.row-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
