.uni-log-pages {
  .uni-log-pages-edit-form {
  }
}

.uni-log-pages-overlay {
  max-width: 520px;

  span {
    color: #cfcfcf;
    font-weight: bolder;
  }
}

.uni-log-pages-statistic {
  display: flex;
  align-items: center;
  height: 40px;

  .ant-statistic-title {
    margin-bottom: 0;
  }

  .ant-statistic-content {
    font-size: 14px;
  }

  .ant-statistic-content-value-int {
    font-size: 14px;
  }
}

.multi-input {
  padding: 10px 10px 0;

  .multi-input-table {
    td {
      padding: 6px;
    }
  }
}
