.set-up-concerns {
  .ant-tree-treenode-switcher-close,
  .ant-tree-treenode-switcher-open {
    padding: 0;
    margin: 4px 0;

    .ant-tree-node-content-wrapper {
      height: 30px;
      line-height: 28px;
      border-top: none;

      .ant-tree-title {
        display: flex;
        align-items: center;

        .up-btn {
          margin-left: auto;
        }

        .down-btn {
          margin-left: 10px;
        }
      }
    }
  }
}
