.pe-summary-container {
  flex: none;
  height: 148px;
  display: flex;
  gap: 16px;

  & > * {
    overflow: hidden;
    width: 33.33%;
    height: 100%;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;
    border: 0;

    &:hover {
      transform: scale(.98);
    }
  }

  .school-summary-card {
    box-shadow: 0 12px 24px -12px rgba(155, 138, 251, 0.75);
    background: #bdb4fe url(../images/school.png) no-repeat right bottom / auto 90%;
  }

  .student-summary-card {
    background: #f7b27a url(../images/student.png) no-repeat right bottom / auto 90%;
    box-shadow: 0 12px 24px -12px rgba(243, 135, 68, 0.75);
  }

  .pe-item-summary-card {
    background: #84adff url(../images/physical-examination-items.png) no-repeat right bottom / auto 90%;
    box-shadow: 0 12px 24px -12px rgba(82, 139, 255, 0.75);
  }
}
