$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;
$line-color: #eee;

//选中树
$tree-active: #d9f3e8;
//边框线条
$border-line-color: #eee;
//菜单
$menu-bg: #fff; //菜单背景
$menu-color: #4f4f4f; //菜单颜色默认文本颜色
$menu-active: #4075db; //选中后的颜色
$menu-active-text: #fff; //选中后的文本颜色
$menu-height: 48px; //菜单单项高度
$menu-hover-color: #ecf5ff; //菜单hover颜色
