.tg-image-preview {
  position: relative;

  // .drag-element-box {
  //   overflow: hidden;
  //   width: 100%;
  //   height: 100%;

  // }

  .img {
    display: block;
    object-fit: cover;
    cursor: pointer;
    padding: 4px;
  }
}

.tg-image-preview-modal {

  .ant-modal-close-x {
    background: rgba(255, 255, 255, .3);
  }

  .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 0;
    position: relative;

    .btn {
      position: absolute;
      top: 49%;
      z-index: 100;
    }

    .up {
      left: 5%;
    }

    .next {
      right: 5%;
    }
  }
}

// .move-body {
//   .ant-modal-body {
//     overflow: hidden !important
//   }
// }
