.ant-menu.t-g-menu-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.ant-menu-submenu.ant-menu-submenu-popup > .ant-menu {
  max-height: 100vh;
  overflow-y: auto;
}

.ant-menu.t-g-menu-container,
.ant-menu-submenu.t-g-menu-popup {
  .ant-menu-item {
    color: rgba(52, 64, 84, 0.62);
    font-size: 14px;

    &.ant-menu-item-selected {
      color: rgba(52, 64, 84, 1);
      background: #fef6ee;
      font-weight: bolder;
    }
  }

  .ant-menu-submenu-selected {
    background: #fef6ee;
  }

  .ant-menu-submenu-title {
    & > div {
      display: flex;
      align-items: center;
      color: rgba(52, 64, 84, 0.62);
      font-size: 14px;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    vertical-align: middle;
    display: flex;
    align-items: center;

    &:hover {
      background: #fef6ee;
    }
  }

  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    margin-right: 8px;
    font-size: 24px;
  }

  .ant-menu-selected::after,
  .ant-menu-item-selected::after {
    opacity: 0;
  }
}
