.tg-visit-completion-ranking {
  padding: 26px;
  display: grid;
  grid-template: 28px 1fr / 1fr;
  height: 100%;

  .shape-container {
    overflow-y: auto;

    .shape-item-container {
      padding: 10px 21px 0;

      .shape-name-container {
        display: flex;

        span:first-child {
          font-size: 14px;
          font-family: Source Han Sans CN;
          line-height: 20px;
        }

        span:last-child {
          line-height: 20px;
          margin-left: auto;
          font-size: 16px;
          font-family: DINPro-Bold;
        }
      }

      .shape-content {
        position: relative;
        margin-top: 4px;
        height: 17px;
        border: 1px solid rgba(136, 203, 255, 0.46);
        background: url(./images/spirit-2.png) 3px center repeat-x;
        width: var(--container-width);
        transition: all 0.7s cubic-bezier(0.04, 0.37, 0.18, 0.94);
        cursor: pointer;

        &:hover {
          transform: scale(1.02, 1.5);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: var(--width);
          height: 100%;
          opacity: 0.8;
          background: url(./images/spirit.png) 3px center repeat-x;
          transition: all 1.2s;
        }
      }
    }
  }
}
