.tg-demographics {
  display: grid;
  grid-template: 60px 60px / repeat(3, calc(100% / 3));
  grid-gap: 10px;

  & > * {
    flex: auto;
  }

  & > .tg-empty {
    grid-column: span 3;
    grid-row: span 2;
  }
}
