.pe-console-overview {
  min-height: 206px;

  .box-content.pe-console-overview-content {
    display: flex;
    background: none;
    padding: 0;
    gap: 32px;
    overflow: hidden;

    .tg-chart-container {
      background: #ffffff;
    }
  }
}
