@import '@/assets/styles/themeFromLess.scss';

.tg-container {
  display: flex;
  flex-direction: column;
  height: 0;
  flex: auto;
  gap: 12px;
  padding: 0 12px 12px;

  & > .tg-content-title {
    flex: none;
    display: flex;
    height: 34px;
    align-items: center;

    .title {
      font-size: $font-size-lg; // 全局默认字号+2px
      font-weight: 700;
      color: $text-color;

      .anticon {
        font-size: 20px;
      }
    }
  }

  & > .tg-container-content,
  .tg-tree-content-container {
    flex: auto;
    height: 0;
    overflow: auto;
    display: flex;
    gap: 12px;
    flex-direction: column;

    & > *:not(.tg-container-table-container) {
      flex: none;
    }

    .tg-container-chart-container {
      height: auto;
      padding: 24px;

      &.no-table {
        flex: auto;
      }
    }

    .tg-container-table-container {
      flex: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      //min-height: 400px;
      gap: 14px;
      background: $white;
      padding: 16px 20px;

      .ant-table-wrapper {
        height: 0;
      }
    }
  }
}
