@import '@/assets/styles/theme.scss';

.tg-container {
  display: flex;
  flex-direction: column;
  height: 0;
  flex: auto;
  gap: 12px;
  padding: 0 12px 12px;

  & > .tg-content-title {
    flex: none;
    display: flex;
    height: 34px;
    align-items: center;

    .title {
      font-size: 16px;
      font-weight: 700;
      color: $text-or-icon-color;
    }
  }

  & > .tg-container-content {
    flex: auto;
    height: 0;
    overflow: auto;
    display: flex;
    gap: 12px;
    flex-direction: column;

    & > *:not(.tg-container-table-container) {
      flex: none;
    }

    .tg-container-chart-container {
      height: auto;
      padding: 24px;

      &.no-table {
        flex: auto;
      }
    }

    .tg-container-table-container {
      flex: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      //min-height: 400px;
      gap: 14px;
      background: $module-background-color;
      padding: 16px 24px;

      .ant-table-wrapper {
        height: 0;
      }
    }
  }

  & > .tg-container-modals {
    margin-bottom: -12px; // 抵消空元素造成的底部 gap 值
  }
}
