@import '~@/assets/styles/themeFromLess.scss';

.tg-container {
  display: flex;
  flex-direction: column;
  height: 0;
  flex: auto;
  padding: 0 12px 12px;

  & > .tg-content-title {
    flex: none;
    display: flex;
    height: 56px;
    line-height: 48px;
    align-items: center;
    overflow: hidden;

    & > .tg-content-title-space {
      flex: none;
      font-size: $font-size-lg; // 全局默认字号+2px
      font-weight: 700;
      color: $text-color;
      min-width: 260px;

      .anticon {
        font-size: 20px;
      }
    }

    & > .tg-content-function {
      flex: auto;
      display: flex;
      overflow-x: auto;
    }

    @media screen and (max-width: 1366px) {
      & > .tg-content-title-space {
        min-width: 200px;
      }
    }
  }

  & > .tg-container-content,
  .tg-tree-container > .tg-tree-content-container {
    flex: auto;
    //overflow: auto;
    display: flex;
    gap: 12px;
    flex-direction: column;

    &.tg-tree-container {
      height: 0;
    }

    & > *:not(.tg-container-table-container, .tg-container-chart-container) {
      flex: none;
    }

    & > .tg-container-chart-container {
      flex: auto;
      height: 0;
    }

    & > .tg-container-table-container {
      flex: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      //height: 100%;
      height: 0;
      //min-height: 400px;
      gap: 14px;
      background: $white;
      padding: 16px 20px;

      .ant-table-wrapper {
        height: 0;
      }
    }

    & > .tg-container-modals {
      position: absolute; // 使该容器脱离文档，抵消该元素造成的底部 gap 值
    }
  }
}
