.tg-login {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  .title {
    width: 70%;
    font-size: 32px;
    font-family: DOUYU, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    color: #ffffff;
    z-index: 100;
    text-align: center;
    margin-left: -7%;
    margin-top: -3%;
    align-self: flex-start;
  }

  &:before {
    position: absolute;
    content: '';
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background: #c9e5e5 url(../images/login-bg.png) no-repeat left 40% top 60% / 800px auto;
  }

  &:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    background: #16b364 url(../images/bg-right-top.png) no-repeat right top / auto 180px;
    z-index: 100;
  }

  .tg-login-box {
    margin-top: 5%;
    margin-right: 20%;
    z-index: 101;

    .login-box-content.login-box-content {
      padding: 56px 32px;
      z-index: 101;
      background: #ffffff;
    }

    .login-logo {
      width: 100%;
      height: 56px;
      margin-bottom: 20px;
      background: url(../images/logo.png) no-repeat left center;
    }

    .login-subtitle {
      font-size: 20px;
      font-family: 'Microsoft YaHei UI', serif;
      font-weight: 500;
      text-align: left;
      color: #344054;
      line-height: 20px;
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid rgba(16, 24, 40, 0.12);
    }

    .login-dividing-line {
      margin: 40px 0;
    }

    .ant-form-item {
      .ant-form-item-control {
        line-height: 50px;
      }

      .anticon {
        font-size: 18px;
      }

      .ant-input {
        height: 48px;
        width: 98%;
        line-height: 48px;
        font-size: 14px;
        padding-left: 10px;
        background: rgba(93,107,152,0.05);
        border: none;
        outline: none;
        box-sizing: border-box;
      }

      &.code {
        .ant-form-item-children {
          display: flex;

          .ant-input-affix-wrapper {
            flex-grow: 1;
            flex-shrink: 1;

            .ant-input {
              border-radius: 4px;
            }
          }

          img {
            flex-grow: 0;
            flex-shrink: 0;
            width: 90px;
            height: 48px;
            outline: none;
            border: none;
            background: #f1f7ff;
            margin-right: 4px;
            border-radius: 4px;
          }
        }
      }

      .login-submit {
        width: 100%;
        height: 48px;
        background: #16b364;
        border: 1px solid #16b364;
        border-radius: 2px;
        font-size: 16px;
        font-weight: bolder;
        color: #ffffff;
        box-shadow: 0 4px 9px 0 rgba(22, 179, 100, 0.50);

        &:disabled {
          filter: grayscale(50%);
          pointer-events: none;
        }
      }
    }

    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      margin-left: 110px;
      width: 200px;
      height: 200px;
      background: url(../images/bg-right-bottom.png) no-repeat right 50px bottom 80px / 110px;
      z-index: 100;
    }
  }

  .corporate-services {
    position: absolute;
    width: 70%;
    font-size: 12px;
    text-align: center;
    color: #bbbbbb;
    justify-content: flex-end;
    bottom: 46px;
    align-self: flex-start;
    z-index: 100;
  }
}
