.uni-log-login {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bg2.png') no-repeat center;

  .login-logo {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 92px;
    padding-left: 100px;
    color: #ffffff;
    //background: url('../../assets/images/logo.png') no-repeat 10px 3px / auto 100%;
  }

  .login-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .login-animate {
      width: 50vw;
      height: 100%;
      //background: url('../../assets/images/left-bg.png') no-repeat center / 100% auto;
    }

    .login-canvas {
      width: 100%;
      height: 100%;
    }

    .login-box {
      overflow: hidden;
      margin-left: 100px;
      width: 400px;
      height: auto;
      min-height: 420px;
      padding: 2rem;
      border-radius: 10px;
      background: white;
      box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);

      .ant-tabs-bar {
        border: none;

        .ant-tabs-tab {
          margin: 0;
          padding: 10px;
        }

        .ant-tabs-ink-bar {
          height: 3px;
        }
      }

      .ant-form-item {
        .ant-form-item-control {
          line-height: 50px;
        }

        .anticon {
          font-size: 18px;
        }

        .ant-input {
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          padding-left: 36px;
        }

        &.code {
          .ant-form-item-children {
            display: flex;

            .ant-input-affix-wrapper {
              flex-grow: 1;
              flex-shrink: 1;

              .ant-input {
                border-radius: 4px 0 0 4px;
              }
            }

            img {
              flex-grow: 0;
              flex-shrink: 0;
              width: 106px;
              height: 40px;
              border: 1px solid #d9d9d9;
              border-radius: 0 4px 4px 0;
              background-color: #ffffff;
              background-image: none;
              border-left: none;
              outline: none;
            }
          }
        }

        .ant-btn {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}

.tg-login {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-spin-text {
    margin-top: 10px;
    font-size: 20px;
    color: #666666;
  }
}
