.tg-header {
  height: 65px;
  flex: none;
  opacity: 0.8;
  backdrop-filter: blur(80px);
  display: grid;
  grid-template: 65px / 663px 1fr 663px;

  .weather {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 663px;
    height: 65px;
    padding: 0 26px;
    font-size: 20px;
    background: url(./images/header-left.png) no-repeat center / 100% 100%;
  }

  .website {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: -56px;
    width: 714px;
    height: 179px;
    background: url(./images/header-website.png) no-repeat center / 100% 100%;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      font-size: 40px;
      font-family: Source Han Sans CN-Bold;
      letter-spacing: 1px;
      background: linear-gradient(to bottom, #ffffff, #a3c8f8);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bolder;
    }
  }

  .datetime {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -56px;
    width: 663px;
    height: 65px;
    padding: 0 26px;
    font-size: 20px;
    font-family: 'LCD2-Ultra';
    background: url(./images/header-right.png) no-repeat center / 100% 100%;
  }
}
