@import '~@/assets/styles/themeFromLess.scss';

.tg-editor {
  border: 1px solid $border-color-base;
  border-radius: $border-radius-base;
  overflow: hidden;
  background: $white;
  display: flex;
  flex-direction: column;

  &.w-e-full-screen-container {
    z-index: 1001;
    // 全屏模式下置于最顶层，因 ant-design-vue Modal 组件设置了 zIndex 的值为 1000
  }

  &.disabled {
    border-color: $border-color-base;
    background-color: $disabled-bg;

    .w-e-bar,
    .w-e-text-container {
      background: unset;
    }
  }

  .tg-editor-toolbar {
    border-bottom: 1px solid #ccc;
    min-height: 40px;
    flex: none;
  }

  .tg-editor-content {
    flex: auto;
    overflow-y: hidden;
  }
}
