@import '~@/assets/styles/themeFromLess.scss';

.tg-tree-container.tg-tree-container {
  @include container-border-radius;
  gap: 12px;

  .tg-container {
    // 消除本组件下 TGContainerWithTable 组件的内边距值
    padding: 0;
  }

  .tg-tree-content-container.tg-tree-content-container {
    box-sizing: border-box;
  }

  .tg-tree-sider-container.tg-tree-sider-container {
    width: 260px;
    flex: none;
    background: $white;

    .tg-tree-data {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ant-input {
        // font-size: 14px; // 全局默认字号为14号
        flex: none;
      }

      .ant-spin-nested-loading {
        flex: auto;
        overflow-x: hidden;
        overflow-y: auto;

        .ant-tree-treenode-switcher-open,
        .ant-tree-treenode-switcher-close {
          width: 100%;
          display: grid;
          grid-template: 24px 1fr / 24px 1fr;

          .ant-tree-node-content-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            // padding: 0;
            overflow: hidden;

            &:hover,
            &.ant-tree-node-selected {
              background: $primary-color-light-hover;
            }

            &.ant-tree-node-selected {

              font-weight: 600;
            }

            .icon {
              font-size: 24px;
            }

            .ant-tree-title {
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              .title {
                // font-size: 14px; // 全局默认字号为14号
                color: #344054;
              }
            }
          }

          .ant-tree-child-tree {
            grid-column: span 2;
          }
        }

        .ant-tree > li > .ant-tree-switcher.ant-tree-switcher-noop,
        .ant-tree > li > .ant-tree-child-tree > li > .ant-tree-switcher.ant-tree-switcher-noop {
          visibility: hidden;
        }

        .ant-tree > li > .ant-tree-child-tree > li > .ant-tree-child-tree > li {
          .ant-tree-switcher.ant-tree-switcher-noop {
            visibility: hidden;
          }

          &:before {
            top: 7px;
            height: calc(100% - 26px);
          }
        }
      }
    }
  }
}
