.tg-property {
  padding: 4px 20px;
  display: grid;
  grid-template: 60% 40% / 56px 1fr;
  height: 60px;
  align-items: center;
  margin-bottom: 10px;

  .icon {
    width: 56px;
    height: 56px;
    background: no-repeat center / 100% 100%;
    grid-row: span 2;

    &.small-towns {
      background-image: url(./images/small-towns.png)
    }

    &.village {
      background-image: url(./images/village.png)
    }

    &.grid {
      background-image: url(./images/grid.png)
    }

    &.household-number {
      background-image: url(./images/household-number.png)
    }

    &.population {
      background-image: url(./images/population.png)
    }

    &.grid-man {
      background-image: url(./images/grid-man.png)
    }

    &.household-index {
      background-image: url(./images/household-index.png)
    }

    &.indicator-collection {
      background-image: url(./images/indicator-collection.png)
    }
  }

  .value {
    line-height: 30px;
    height: 30px;
    font-size: 32px;
    font-family: DINPro-Bold;
    padding-left: 10px;
    display: flex;
    color: var(--color);
  }

  .text {
    color: #c9e7fe;
    font-size: 16px;
    padding-left: 10px;
    font-family: Source Han Sans CN-Light;
  }
}

.layout-column.column-4 {
  .tg-property {
    grid-template: 60% 40% / 64px 1fr;
    padding: 0 10px;

    .icon {
      width: 64px;
      height: 64px;
    }

    .value {
      font-size: 36px;
      font-family: DINPro-Bold;
    }

    .text {
      opacity: 0.8;
      font-size: 18px;
      font-family: Source Han Sans CN-Light;
      color: #c9e7fe;
    }
  }
}

.number-container {
  overflow: hidden;
  height: 100%;

  .scroll-container {
    &.scroll {
      animation: 2s scrollTop ease 1 normal forwards;

      @keyframes scrollTop {
        0% {
          transform: translate3d(0, var(--start), 0);
        }
        100% {
          transform: translate3d(0, var(--target), 0);
        }
      }
    }

    &.reduction {
      animation: 2s reduction ease 1 normal forwards;

      @keyframes reduction {
        0% {
          transform: translate3d(0, var(--start), 0);
        }
        100% {
          transform: translate3d(0, var(--target), 0);
        }
      }
    }

    .number-item {
      height: var(--height);
      line-height: var(--height);
      opacity: 0;
      transition: all 1000ms;

      &.show {
        opacity: 1;
      }
    }
  }
}
