@import '~@/assets/styles/themeFromLess.scss';

.t-g-menu-container.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 900;
  @include box-shadow(rgba(0, 0, 0, 0.03));
  padding: 10px 8px;

  &.ant-menu-inline-collapsed {
    & > .ant-menu-submenu-selected {
      background: $primary-color-light-hover;
    }

    & > .ant-menu-item,
    & > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
    & > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title,
    & > .ant-menu-submenu > .ant-menu-submenu-title {
      padding: 0 16px !important;

      .anticon {
        line-height: 0;
      }
    }
  }

  & .ant-menu-item {
    position: relative;
    overflow: unset;

    &:not(:last-child):before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 4px;
      box-sizing: border-box;
      border-bottom: 1px solid $border-color-base;
    }
  }

  .ant-menu-submenu {
    box-sizing: border-box;
    border-bottom: 1px solid $border-color-base;

    .ant-menu-sub {
      box-sizing: border-box;
      border-top: 1px solid $border-color-base;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu .ant-menu-submenu-title {
    &:hover {
      border-radius: $border-radius-base;
      background: $primary-color-light-hover;
    }

    .ant-menu-item-title,
    .ant-menu-submenu-title {
      div {
        display: flex;
        align-items: center;

        .anticon {
          font-size: $font-size-lg;
        }

        span {
          font-size: $font-size-base;
        }
      }
    }

    &.ant-menu-item-selected {
      .anticon {
        color: $primary-color-active;
      }

      // 去除菜单最后方的竖条
      &::after {
        opacity: 0;
      }

      &,
      & > .ant-menu-submenu-title {
        color: $primary-color-active;
        background: $primary-color-light-hover;
        font-weight: bolder;
      }
    }
  }
}

// 折叠状态下的子菜单
.ant-menu-submenu.ant-menu-submenu-popup > .ant-menu {
  max-height: 100vh;
  overflow-y: auto;

  //.ant-menu-submenu-title {
  //  padding-left: 16px;
  //}
}
