@import '@/assets/styles/theme.scss';

.ant-menu.t-g-menu-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.ant-menu-submenu.ant-menu-submenu-popup > .ant-menu {
  max-height: 100vh;
  overflow-y: auto;
}

.ant-menu.t-g-menu-container,
.ant-menu-submenu.t-g-menu-popup {
  .ant-menu-item {
    color: $text-or-icon-color;
    font-size: 14px;
    font-weight: 400;

    &.ant-menu-item-selected {
      color: $primary-active-color;
      background: $primary-hover-light-color;
      font-weight: bolder;
    }
  }

  .ant-menu-submenu-selected {
    color: $primary-active-color;
    background: $primary-hover-light-color;;
  }

  .ant-menu-submenu-title {
    & > div {
      display: flex;
      align-items: center;
      color: $text-or-icon-color;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    vertical-align: middle;
    display: flex;
    align-items: center;

    &:hover {
      background: $primary-hover-light-color;
    }
  }

  .ant-menu-sub .ant-menu-item span {
    padding-left: 12px;
  }

  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    margin-right: 8px;
    font-size: 1.4em;
  }

  .ant-menu-selected::after,
  .ant-menu-item-selected::after {
    opacity: 0;
  }
}
