// 主题颜色配置，主要用于非 ant design vue 组件的颜色控制。
// ant design vue 的主题色请按照官方文档修改，本项目采用官方的 vue-cli3 方案。
// 本项目请在 vue.config 内配置

// 主题色配置
$primary-color: #2970ff;
$primary-shadow-color: rgb(41, 112, 255, .2);
$primary-shadow-normal: rgb(40, 112, 255, .6);
$primary-active-color: #155eef;
$primary-hover-color: #528bff;
$primary-hover-light-color: #eff4ff;
$primary-placeholder-color: #b2ccff;
$primary-sub-color: #b2ccff;
$error-color: #f97066;

// 边框
$border-color-default: #1018281f;
$border-color-table: #1018280f;

// 文字
$text-or-icon-color: #18181b;
$text-or-icon-sub-color: #18181b9e;
$text-or-icon-light-color: #18181b59;

// 滚动条主题色配置
$scrollbar-track-color: #eff1f5;
$scrollbar-track-shadow-color: rgba(91, 91, 91, 0.3);
$scrollbar-thumb-color: rgba(185, 192, 212, 0.6);
$scrollbar-thumb-hover-color: rgba(185, 192, 212, 1);
$scrollbar-thumb-shadow-color: rgba(211, 211, 211, 0.3);

@mixin container-border-radius($value: 4px) {
  border-radius: $value;
}
