// 主题颜色配置，主要用于非 ant design vue 组件的颜色控制。
// ant design vue 的主题色请按照官方文档修改，本项目采用官方的 vue-cli3 方案。
// 本项目请在 vue.config 内配置

// 主题色配置
$primary-color: #2970ff;
$primary-shadow-color: $primary-color;
$primary-active-color: #155eef;
$primary-hover-color: #528bff;
$primary-hover-light-color: #eff4ff;
$primary-placeholder-color: #b2ccff;
$primary-sub-color: #b2ccff;

// 状态色
$error-color: #f04438;
$error-light-color: #fffbfa;
$warn-color: #f79009;
$warn-light-color: #fffcf5;
$success-color: #12b76a;
$success-light-color: #f6fef9;
$info-color: #2970ff;
$info-light-color: #f3f7ff;
$disabled-color: #10182859;
$disabled-light-color: #1018280a;

// 模块底色
$module-background-color: #ffffff;
$card-background-color: #f8fafc;
$card-background-deepen-color: #eef2f6;

// 边框
$border-color-default: #1018281f;
$border-color-table: #1018280f;
$border-shadow-color: rgba(0, 0, 0, 0.10);

// 文字
$text-primary-color: #000000;
$text-or-icon-color: #18181b;
$text-or-icon-slightly-color: #18181bcc;
$text-or-icon-sub-color: #18181b9e;
$text-or-icon-light-color: #18181b59;

// 滚动条主题色配置
$scrollbar-track-color: #eff1f5;
$scrollbar-track-shadow-color: rgba(91, 91, 91, 0.3);
$scrollbar-thumb-color: rgba(185, 192, 212, 0.6);
$scrollbar-thumb-hover-color: rgba(185, 192, 212, 1);
$scrollbar-thumb-shadow-color: rgba(211, 211, 211, 0.3);

@mixin container-border-radius($value: 4px) {
  border-radius: $value;
}

@mixin box-shadow($color) {
  box-shadow: 2px 0 6px 0 $color;
}
