.tg-education {
  height: 100%;
  padding: 10px;

  .item {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #263657;
    border-radius: 4px;
    padding: 0 10px;
    height: 30px;

    &:not(&:first-child) {
      margin-top: 4px;
    }

    &:before {
      position: absolute;
      content: '';
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      border-radius: 4px;
      background: #121a36;
      z-index: -1;
    }

    .name {
      flex: none;
      border-radius: 88px;
      font-size: 14px;
      font-family: Microsoft YaHei, Microsoft YaHei-Regular;
      color: #88cbff;
    }

    .unit {
      margin-left: 2px;
    }

    .value {
      display: flex;
      flex: none;
      margin-left: auto;
      height: 100%;
      color: #ffffff;
      font-family: DINPro-Bold;
      font-size: 18px;
    }
  }
}
