.uni-log-app-form {
  display: flex;

  .ant-form-item {
    flex: auto;
    display: flex;
    align-items: center;

    .ant-form-item-control-wrapper {
      width: 200px;
    }
  }
}

.uni-log-app-table {
  overflow: hidden;

  .ant-table td {
    //word-break: break-word;
  }
}
